.description {
    position: relative;
    display: inline-block;
}
.tooltip {
    visibility: visible;
    background-color: #ea1616;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Adjust the position as per your requirement */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}